# Byte-compiled / optimized / DLL files
__pycache__/
downloaded_files

# Environments
.env
.venv

# videos
/data/videos

# pdfs
/data/pdfs

# generated_script
/data/generated_texts

# selenium-dev-profile
data/selenium-dev-profile

# script
/data/script

# pycharm
.idea
