# Byte-compiled / optimized / DLL files
__pycache__/
downloaded_files

# Environments
.env
.venv

# results
/data/results

# generated_script
/data/generated_texts

# selenium-dev-profile
data/selenium-dev-profile

# audio
/data/audio

# pycharm
.idea

# macOS
.DS_Store